Cython==0.19.2
Kivy==1.8.0
Kivy-Garden==0.1.1
PyAudio==0.2.8
coloredlogs==0.8
numpy==1.9.2
-e hg+http://bitbucket.org/pygame/pygame@426c37917dc15ff76708464004a7ade0e691163f#egg=pygame-dev
pyliblo==0.9.2
requests==2.6.0
wsgiref==0.1.2
